{% extends 'AppCoder/padre.html' %} {% block contenidoQueCambia %}
<h1>Detalle de la tarea:</h1>
<ul class="list-group">
  <li class="list-group-item"><b>Nombre:</b> {{tarea.nombre}}</li>
  <li class="list-group-item"><b>Descripcion:</b> {{tarea.descripcion}}</li>
  <li class="list-group-item">
    <b>Fecha de creacion de la Tarea</b>
    : {{tarea.fecha_de_creacion}}
  </li>
</ul>

<button
  type="button"
  onclick="location.href='/tarea/list'"
  class="btn btn-secondary m-1"
>
  Regresar
</button>

{% endblock %}
