{% extends 'AppCoder/padre.html' %} {% block contenidoQueCambia %}
<div class="m-1">
  <h1>Modificar tarea</h1>
  <form action="" method="post">
    <div class="mb-3">
      {% csrf_token %}
      <table>
        {{ form }}
      </table>
      <span
        >Aclaracion importante: la fecha debe ser escrita en formato dd/mm/aaaa.
        Ej: 15/12/2022</span
      >
    </div>

    <div class="d-flex">
      <button
        onclick="location.href='/tarea/list'"
        class="btn btn-secondary ms-1 me-1"
        type="button"
      >
        Cancelar
      </button>

      <input type="submit" value="Modificar" class="btn btn-warning" />
    </div>
  </form>
</div>
{% endblock %}
