{% extends 'AppCoder/padre.html' %} {% block contenidoQueCambia %}

<div class="ms-3 me-3">
  <h1>Bienvenido al Proyecto Final</h1>
  <ul>
    <li>
      <h2>Trabajo realizado por: <b>Ezequiel Ercoreca</b></h2>
    </li>
    <li>
      <h2>Comision: <b>44675</b></h2>
    </li>
    <li>
      <h2>Curso: <b>Python</b></h2>
    </li>
  </ul>
</div>
<!-- <h1>Listado de las tareas:</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre del Tarea</th>
      <th scope="col">Descripcion de la Tarea</th>
      <th scope="col">Fecha de creacion de la Tarea</th>
    </tr>
  </thead>
  <tbody>
    {% for t in tareas %}
    <tr>
      <th scope="row">{{ t.id }}</th>
      <td>{{ t.nombre }}</td>
      <td>{{ t.descripcion }}</td>
      <td>{{ t.fecha_de_creacion }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h1>Listado de las personas del equipo:</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Edad</th>
    </tr>
  </thead>
  <tbody>
    {% for p in personas_del_equipo %}
    <tr>
      <th scope="row">{{ p.id }}</th>
      <td>{{ p.nombre }}</td>
      <td>{{ p.apellido }}</td>
      <td>{{ p.edad }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table> -->

{% endblock %}
