{% extends 'AppCoder/padre.html' %} {% block contenidoQueCambia %}
<div class="m-5">
  <!-- justify-content: space-between -->
  <div style="display: flex">
    <a class="btn btn-success ms-1 me-1" href="{% url 'crear_pde' %}"
      >Agregar Persona al Equipo
    </a>
    <!-- Parte nueva -->
    <form action="/personasdelequipo/buscar/" method="get" >
      <div class="input-group">
        {% csrf_token %}
        <input
          type="search"
          name="nombreBuscado"
          class="form-control"
          placeholder="Buscar pers. del equipo"
          aria-label="Search"
          
        />
        <button type="submit" class="btn btn-primary" style="width: 26px">
          <i class="bi bi-search" style="margin-left: -8px"></i>
        </button>
      </div>
    </form>
    </div>
    <h1>Listado de las Personas del Equipo:</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre de la Persona</th>
          <th scope="col">Edad de la persona</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for t in object_list %}
        <tr>
          <th scope="row">{{ t.id }}</th>
          <td>{{ t.nombre }}</td>
          <td>{{ t.edad }}</td>
          <td>
            <a href="{% url 'detalle_pde' t.id %}" class="btn btn-info btn-sm"
              >Ver</a
            >
            <a href="{% url 'editar_pde' t.id %}" class="btn btn-warning btn-sm"
              >Modificar</a
            >
            <a
              href="{% url 'eliminar_pde' t.id %}"
              class="btn btn-danger btn-sm"
              >Eliminar</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% endblock %}
</div>
